* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.my-skills-boxs p {
  width: 20%;
}
.my_card-content {
  width: 100%;
  gap: 24px;
}
.my-card-1 {
  gap: 24px;
}
.my-card-container {
  min-height: 435px;
  width: 400px;
  display: flex;
}
